@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.main-container {
  max-width: 375px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.hero-image-container {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 100%;
  padding: 2rem 0 2rem 0;
}

.first-page {
  padding: 0 1rem 0 1rem;
}

.first-page-text-cluster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first-page-title {
  font-size: 48px;
  color: var(--slate-900);
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 0px;
  padding: 1rem 0 1rem 0;
}

.first-page-text {
  font-size: 18px;
  color: var(--slate-600);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  padding: 1rem 0 1rem 0;
}

.button-cluster {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 150px;
}

.download-button {
  background-color: var(--cyan-600);
  color: var(--white);
  padding: 1rem 0.5rem 1rem 0.5rem;
  min-width: 150px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
}
.download-button:hover {
  background-color: var(--cyan-300);
  transition: 5ms;
}

.whatisit-button {
  background: var(--purple-600);
  color: var(--white);
  padding: 1rem 0.5rem 1rem 0.5rem;
  min-width: 100px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 600;

  line-height: 150%;
  letter-spacing: 0px;
}

.whatisit-button:hover {
  background-color: var(--purple-300);
}

.page-divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 2rem 0 2rem 0;
}

.upper-line {
  width: 0.2rem;
  height: 4rem;
  background: lightgrey;
}

.divider-text {
  border: 0.2rem solid lightgrey;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.image-cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 376px) {
  .main-container {
    max-width: 768px;
  }
  .image-cluster {
    flex-wrap: nowrap;
  }

  .image {
    height: 20% !important;
    width: 20% !important;
    margin: 0 0 1rem 0;
    border-radius: 1rem;
  }

  .button-cluster {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .main-container {
    min-width: 100% !important;
  }
  .image-cluster {
    flex-wrap: nowrap;
  }

  .hero-image-container {
    display: none;
  }

  .logo-and-title-cluster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
  }

  .first-page-title {
    max-width: 30%;
  }

  .hero-left,
  .hero-right {
    max-width: 30%;
  }

  .footer {
    position: relative;
    background: url("assets/desktop/image-footer.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
  }

  .footer p {
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .hero-left,
  .hero-right {
    display: none;
  }
}

.image {
  height: 150px;
  width: 150px;
  margin: 0 0 1rem 0;
  border-radius: 1rem;
}

.second-page {
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
}

.second-page-text-cluster h3 {
  color: var(--cyan-600);
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 4px;
}

.second-page-text-cluster h2 {
  font-size: 26px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
  padding: 1rem 0 1rem 0;
}

.second-page-text-cluster p {
  color: var(--slate-600);
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
  padding: 1rem 0 1rem 0;
}

.footer {
  position: relative;
  background: url("assets/desktop/image-footer.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: var(--white);
  height: 300px;
  padding: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(192, 37%, 48%);
  opacity: 0.6; /* Adjust transparency to make the image more or less visible */
  z-index: 1;
}

.footer h2 {
  position: relative;
  z-index: 2;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 900;
}

.footer p {
  position: relative;
  z-index: 2;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
}

.download-button2 {
  position: relative;
  z-index: 2;
  background-color: var(--purple-600);
  color: var(--white);
  padding: 1rem 0.5rem 1rem 0.5rem;
  min-width: 150px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
}
.download-button2:hover {
  background-color: var(--purple-300);
  transition: 5ms;
}
